<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ZxpTestNgSuite" parallel="tests" >

	<test name = "LeanTestNg">
		<classes>
			<class name="com.zxp.LinuxTest"/> 
			<class name="com.zxp.PassTest"/> 
		</classes>
		
	</test>


</suite>